.navigationitem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #1eaedb;
    text-decoration: none;
    cursor: pointer;
    padding: .6em 1em;

}

.navigationitem:hover {
    font-weight: 700;
    background: hsl(0, 0%, 25%);
    color: #1eaedb;
}

@media (min-width: 663px) {
    .navigationitem {
        display: flex;
        width: auto;
        align-items: center;
        color: white;
    }
}