.signout {
    color: #1eaedb;
    cursor: pointer;
    font-size: 0.95em;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    /* display: block; */
    /* width: 100%; */
}

.signout:hover {
    font-weight: 700;
    background: hsl(0, 0%, 25%);

}