.centered {
    margin: 0 auto;
    padding: 1em;
    max-width: 40em;
    text-align: center;
}

.addrecipe_form {
    display: flex;
    flex-direction: column;
}

.addrecipe_form label {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons button:first-child {
    margin-right: 1em;
}
  