.centered {
    margin: 0 auto;
    padding: 1em;
    max-width: 40em;
    text-align: center;
}

.addrecipe_form {
    display: flex;
    flex-direction: column;
}

.addrecipe_form label {
    margin-top: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons button:first-child {
    margin-right: 1em;
}

.dropzone {
    border: 1px solid #e5e5e5;
    margin-bottom: 40px;
    height: 80px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.dropzone_box {
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1eaedb;
}

.dropzone img {
    max-width: 200px;
    max-height: 100%;
}
  