.content {
    display: flex;
    flex-direction: column;
}

.cardimage {
	display: none;
}

.button {
    align-self: flex-end;
}

.icon {
    display: none;
}

@media only screen and (min-width: 500px) {
    .cardimage {
        display: block;
        width: 100px;
        height: 100px;
    }

    .recipe_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cardbody {
        display: flex;
    }

    .left {
        width: 50%;
    }

    .right {
        margin-left: 40px;
    }

    .icon {
        display: block;
        cursor: pointer;
    }
}
@media only print {
    .button {
        display: none;
    }
}
