.navigationitem {
    /* margin: 10px 0; */
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.navigationitem a {
    color: #1eaedb;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.navigationitem a:hover {
    font-weight: 700;
}

@media (min-width: 663px) {
    .navigationitem {
        display: flex;
        width: auto;
        align-items: center;
    }
    
    .navigationitem a {
        color: white;
    }
    
    .navigationitem a:active,
    .navigationitem a.active {
        color: #1eaedb;
    }


    
}
