.card {
	background: white;
	margin-bottom: 1em;	
	border: 1px solid #eee;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.cardimage {
	width: 300px;
	height: 300px;
	max-width: 100%;
}

.card_content {
	padding: 1.4em;
}

.card_content h4 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: normal;
}

.card_content p {
	font-size: 95%;
	margin-bottom: 5px;
}

.likes {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.likes img {
	margin-left: 5px;
}

