.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    margin: 0 10px;
}
.brand {
    color: #1eaedb;
    font-size: 16px;
    font-family: 'Kaushan Script', cursive;
}

@media screen and (max-width: 879px) {
    .logo{
        display: none;
    }  
}