.sidedrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 40px 20px 0 40px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.sidedrawer nav ul li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    color: #1eaedb;
    text-decoration: none;
    cursor: pointer;
}

.sidedrawer nav ul li:hover {
    font-weight: 700;
}

.logo {
    margin-bottom: 40px;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

@media (min-width: 663px) {
    .sidedrawer {
        display: none;
    }
}

@media only print {
    .sidedrawer {
        display: none;
    }
}